<!doctype html>
<html>
  <head>
    <title>Quixote Task</title>
  </head>
  <body>
    <h1>Task Subham Panda</h1>
       <h1>Select File to upload</h1>
      
      
                     <button onclick="myFunction()">My Links</button>
            <div id="myDIV">
    <br/><br/>
        {% for file in files %}
      <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
    {% endfor %}
    </div>
      
      <script>
document.getElementById("myDIV").style.display = "none";
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
     
      
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Upload"></p>
    </form>
    
  </body>
</html>